@import "src/utility/variables";
@import "src/utility/responsive";
@import "src/utility/content";

.content {
  @extend .content;
}

.rootImage {
  position: relative;
  background: $white;
  box-shadow: 0 21px 28px 0 rgba(201, 201, 201, 0.5);
  max-width: $md;
  margin: auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  // background-image: url("path/to/image.jpg");
  margin-bottom: 30px;

  min-height: calc(#{$md} / 2);
  max-height: $md;

  @include respond-to(md) {
    flex: 0 1 50%;
  }

  @include respond-to(sm) {
    box-shadow: none;
  }
}

.blockImage {
  position: relative;
  max-width: $md;
  margin: auto;
  background: $white;
  box-shadow: 0 21px 28px 0 rgba(201, 201, 201, 0.5);
  margin-bottom: 30px;

  &::before {
    content: "";
    display: block;
    padding-top: 100%; /* ratio of 1:1*/
  }

  .boxContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.root {
  position: relative;
  background: $white;
  box-shadow: 0 21px 28px 0 rgba(201, 201, 201, 0.5);
  max-width: $md;
  margin: auto;

  @include respond-to(onlySmall) {
    background: "transparent";
    box-shadow: none;
  }

  @include respond-to(md) {
    padding: $ms4;
    flex: 0 1 50%;
    &::after {
      content: "";
      background: url("src/images/dots-decorator.svg") no-repeat;
      position: absolute;
      width: 9.3rem;
      height: 9.3rem;
      z-index: -1;
      right: 0;
      transform: translateX(-50%) translateY(50%);
      bottom: 0;
    }
  }
}

.date {
  margin-bottom: $ms1;
}

iframe {
  width: 100%;
}

.arrows {
  display: flex;
  justify-content: space-between;
}

.arrowLeft {
  > svg {
    transform: scale(-1, 1);
  }
}
