@import "../../utils/variables";
@import "../../utils/mixins";
@import "../../utils/responsive";
@import "../../utils/functions";

.root {
  color: $white;
  @include horizontalSpacing();
  @include gradient();
  padding-top: between(160px, 360px, $sm, $xlg);
  padding-bottom: $ms4;
  height: 100vh;
}

.heading {
  @include respond-to(onlySmall) {
    br {
      display: none;
    }
  }
}
