@import "../../utils/variables";
@import '../../utils/mixins';
@import "../../utils/responsive";
@import "../../utils/functions";

.root {
  color: $white;
  @include horizontalPadding();
  @include gradient();
  padding-top: between(200px, 400px, $sm, $xlg);

  @include respond-to(md) {
    min-height: 1024px; //temp
  }
}

.heading {
}
