@import "../../utils/variables";
@import '../../utils/mixins';

.root {
  color: $white;
  min-height: 1024px; //temp
  padding-top: 200px;
  @include horizontalPadding();
  @include gradient();
}

.heading {
}
