@import '../../utils/variables';

.root {
  display: flex;
  min-height: 545px;
}

.featured {

}

.posts {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 0 0 calc(50% - 32px);
    margin: 16px;
    &:nth-child(n + 3) {
      margin-bottom: 0;
    }
  }

}
