@import '../../utils/variables';
@import '../../utils/responsive';

.root {
  @include respond-to(onlySmall) {
    margin-right: -16px;
  }  
  @include respond-to(md) {
    display: flex;
    min-height: 545px;
    margin-bottom: $ms4;
  }
}

.posts {
  display: flex;
  overflow: auto;
  padding: 40px 32px 16px;
  
  @include respond-to(md) {
    flex: 0 1 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $ms2;
    padding: 0;
    margin-left: $ms3;
    overflow: visible;
    flex-wrap: wrap;
  }

}

.featured {
  flex: 1 1 50%;
}
