@import "src/utility/variables";
@import "src/utility/functions";
@import "src/utility/responsive";

.root {
  position: relative;
  @include respond-to(md) {
    height: 100%;
    width: 100%;
  }
}

.fullWidth {
  .image {
    @include respond-to(md) {
      width: calc(50%);
    }
    @include respond-to(lg) {
      width: calc(50%);
    }
  }

  .card {
    @include respond-to(md) {
      min-height: 315px;
      margin-left: auto;
      margin-top: -140px;
      padding: $ms3 $ms2 $ms3 $ms1;
      position: relative;
      width: 60%;
    }
    @include respond-to(lg) {
      width: 60%;
    }
  }
}

.card {
  background: $white;
  box-shadow: 0 9px 21px 0 rgba(214, 214, 214, 0.5);
  padding: 40px 18px;
  width: 100%;
  display: block;

  @include respond-to(lg) {
    min-height: 315px;
    margin-left: auto;
    margin-top: -140px;
    padding: $ms3 $ms2 $ms3 $ms1;
    position: relative;
    width: 50%;
  }

  &::after {
    display: none;
    background-image: url("src/images/dots-decorator.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 90px;
    content: "";
    left: -90px;
    position: absolute;
    z-index: -1;

    @include respond-to(lg) {
      display: block;
      width: 140px;
      height: 140px;
    }
  }
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 66%;

  @include respond-to(md) {
    width: 100%;
    padding-bottom: 100%;
    left: 0;
    top: 0;
  }

  @include respond-to(lg) {
    width: calc(100% - 137px);
    padding-bottom: 65%;
  }

  &::before {
    background: $white;
    content: "";
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%) translateY(-50%) rotateZ(-45deg);
    width: 60px;
  }
}

.arrow {
  > svg {
    margin-left: auto;
  }
}
