@import "../../utils/functions";
@import "../../utils/variables";
@import "../../utils/responsive";

::selection {
  background-color: $blue;
  color: $white;
}

.t-h1 {
  font-size: $t6;
  margin: 0;
  line-height: 1.35;

  @include respond-to(onlySmall) {
    font-size: 20px;
  }
}

.t-h2 {
  font-size: $t5;

  @include respond-to(onlySmall) {
    font-size: 22px;
  }
}

.t-h3 {
  font-size: $t4;

  @include respond-to(onlySmall) {
    font-size: 12px;
  }
}

.t-Body1 {
  font-size: $t4;

  @include respond-to(onlySmall) {
    font-size: 14px;
  }
}

.t-Body2 {
  font-size: $t3;
  margin: 0;

  @include respond-to(onlySmall) {
    font-size: 12px;
  }
}

.t-Body3 {
  font-size: $t2;
  margin: 0;

  @include respond-to(onlySmall) {
    font-size: 14px;
  }
}

.t-monospace {
  font-family: $serif;
}

.t-light {
  font-weight: 400;
}

.t-medium {
  font-weight: 500;
}

.t-bold {
  font-weight: 600;
}

.t-center {
  text-align: center;
}

.t-uppercase {
  text-transform: uppercase;
}
