@import "../../utils/reset";
@import "../../utils/variables";

html {
  font-family: $sans-serif, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  box-sizing: border-box;
  color: $dark;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

.parallax-inner {
  will-change: transform;
}
