@import 'src/utility/responsive';
@import 'src/utility/variables';

.root {
  display: flex;
  flex-wrap: wrap;

  @include respond-to(md) {
    flex-wrap: nowrap;
    padding-bottom: $ms5;
  }
}

.text {
  line-height: 2;
  padding-bottom: 36px;
  position: relative;
  
  @include respond-to(md) {
    flex: 0 1 50%;
    margin-right: $ms4;
    min-height: 450px;
  }
}

@keyframes arrow {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.arrow {
  animation: arrow 2s infinite;
  animation-direction: alternate;
  display: none;
  position: absolute;
  bottom: 0;
  > svg {
    transform: translateX(-50%);
  }
  @include respond-to(md) {
    display: block;
  }
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;

  @include respond-to(md) {
    width: calc(50%);
    padding-bottom: 45%;
    left: 0;
    top: -130px;
  }

  @include respond-to(lg) {
    width: calc(50%);
  }
}
