@import 'src/utility/responsive';

.root {
  position: absolute;
  top: 15%;
  width: 150%;
  right: -45%;
  z-index: -1;
  
  @include respond-to(md) {
    top: 25%;
    width: 60%;
    right: 0;
  }
}
