@import 'src/utility/variables';

$maxAvatars: 4;

.root {
  border-radius: 50%;
  border: 3px solid $white;
  box-sizing: content-box;
  height: 47px;
  overflow: hidden;
  position: relative;
  width: 47px;

  @for $i from 1 through $maxAvatars {
    @if ($i == 1) { 
      z-index: $maxAvatars;
    } @else {
      &:nth-of-type(#{$i}) {
        transform: translateX(calc(-25% * #{$i - 1}));
        z-index: #{-$i + $maxAvatars};
      }
    }
  }
}
