@import "src/utility/responsive";

.root {
  margin: 0 -16px;

  @include respond-to(md) {
    margin: 0;
    padding-bottom: $ms5;
  }

  .noEventsText {
    font-size: $t6;
    color: white;
    margin-top: $ms6;
  }
}

.noEvents {
  @include respond-to(md) {
    padding-bottom: 0;
  }
}
