
@import "../../utils/responsive";

.root {
}


.paging {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  
  @include respond-to(md) {
    margin-top: $ms5;
  }
}

.pagingBackground {
  width: 262px;
  height: 1px;
  margin: 1rem 0;
  background: white;
  position: relative;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 10px;
    background: white;
  }
  &::before {
    left: -10px;
  }
  &::after {
    right: -10px;
  }
}

.pagingProgress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 5px;
  background: white;
  transition: transform 0.5s;
}
