@import "src/utility/variables";
@import "src/utility/functions";
@import "src/utility/responsive";

.root {
  position: relative;
  @include respond-to(md) {
    height: 100%;
    width: 100%;
  }
}

.subtitle {
  color: rgba($dark, 0.6);
  text-transform: none;
}

.card {
  background: $white;
  box-shadow: 0 9px 21px 0 rgba(214, 214, 214, 0.5);
  padding: 40px 18px;
  width: 100%;
  display: block;

  h2 {
    padding-top: 20px;
  }

  @include respond-to(md) {
    min-height: 400px;
    margin-left: auto;
    margin-top: -320px;
    padding: $ms3 $ms2 $ms3 $ms2;
    position: relative;
    width: 60%;
  }

  &::after {
    background-image: url("src/images/dots-decorator.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    position: absolute;
    z-index: -1;
    width: 9.3rem;
    height: 11.3rem;
    left: 0;
    transform: translateX(-50%) translateY(50%);
    bottom: 0;

    @include respond-to(mg) {
      display: block;
      width: 140px;
      height: 140px;
    }
  }
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 30%;

  @include respond-to(md) {
    width: calc(50%);
    padding-bottom: 40%;
    left: 0;
    top: 0;
  }

  @include respond-to(lg) {
    width: calc(50%);
  }

  &::before {
    background: $white;
    content: "";
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%) translateY(-50%) rotateZ(-45deg);
    width: 60px;
  }
}
