@import '../functions';
@import '../variables';
@import '../responsive';

// Padding top

.u-paddingTopXLarge {
  padding-top: $ms5;
}

.u-paddingTopLarge {
  padding-top: $ms4;
}

.u-paddingTopMedium {
  padding-top: $ms3;
}

.u-paddingTopSmall {
  padding-top: $ms2;
}

.u-paddingTopXSmall {
  padding-top: $ms1;
}

// Padding bottom

.u-paddingBottomXLarge {
  padding-bottom: $ms5;
}

.u-paddingBottomLarge {
  padding-bottom: $ms4;
}

.u-paddingBottomMedium {
  padding-bottom: $ms3;
}

.u-paddingBottomSmall {
  padding-bottom: $ms2;
}

.u-paddingBottomXSmall {
  padding-bottom: $ms1;
}


@include respond-to(xlg) {
  //todo
}