@import "src/utility/responsive";
@import "src/utility/variables";
@import "src/utility/functions";

$dateOffset: 20px;

.root {
  max-width: between(275px, 350px, $sm, $xlg);
  width: calc(100% - 30px);
  background: $white;
  margin: $dateOffset auto auto;
  display: block;
  flex: none;
  position: relative;
  padding: between(26px, 40px, $sm, $xlg) between(20px, 30px, $sm, $xlg);
  height: 512px;

  @include respond-to(onlySmall) {
    height: 400px;
    padding: 40px 30px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: linear-gradient(rgba($white, 0) 0%, $white 80%);
  }
}

.decorator {
  padding: $ms3 0 $ms2 0;
  position: relative;
  display: flex;
  align-items: center;
  font-size: $t2;
  font-weight: 600;
  text-transform: uppercase;

  &::before {
    content: "";
    display: block;
    width: 24px;
    margin-right: 8px;
    height: 1px;
    background: currentColor;
  }

  .root.turquoise & {
    color: $turquoise;
  }

  .root.yellow & {
    color: $pastelYellow;
  }

  .root.pink & {
    color: $pastelPink;
  }

  .root.purple & {
    color: $pastelPurple;
  }
}

.title {
  line-height: 1.333;
}

.subtitle {
  color: rgba($dark, 0.6);
  text-transform: none;
}
