@import "./variables";
@import "./responsive";

$horizontalSpacing: between(66px, 100px, $sm, $xlg);
$negativeHorizontalSpacing: between(-66px, -100px, $sm, $xlg);

@mixin horizontalSpacing() {
  padding-left: 16px;
  padding-right: 16px;

  @include respond-to(md) {
    padding-left: $horizontalSpacing;
    padding-right: $horizontalSpacing;
  }
}

@mixin negativeHorizontalSpacing() {
  margin-left: -16px;
  margin-right: -16px;

  @include respond-to(md) {
    margin-left: $negativeHorizontalSpacing;
    margin-right: $negativeHorizontalSpacing;
  }
}

@mixin gradient() {
  background: linear-gradient($blue, #05223d);
}
