@import "./functions.scss";

$sm: 375px;
$md: 768px;
$lg: 1024px;
$xlg: 1440px;

// modularscale = base: 16px/1rem, ratio: 1.5
$ms1: between(8px, 16px, $sm, $xlg);
$ms2: between(12px, 24px, $sm, $xlg);
$ms3: between(16px, 36px, $sm, $xlg);
$ms4: between(27px, 54px, $sm, $xlg);
$ms5: between(40px, 81px, $sm, $xlg);
$ms6: between(60px, 121px, $sm, $xlg);

// typographic constants
$t1: between(10px, 12px, $sm, $xlg);
$t2: between(11px, 14px, $sm, $xlg);
$t3: between(12px, 16px, $sm, $xlg);
$t4: between(14px, 18px, $sm, $xlg);
$t5: between(20px, 24px, $sm, $xlg);
$t6: between(36px, 45px, $sm, $xlg);

$dark: #454545;
$blue: #00468A;
$red: #f61740;
$white: #ffffff;
$offWhite: #fbfbfb;
$turquoise: #70D8CA;
$pastelYellow: #ffd800;
$pastelBlue: #7c87f5;
$pastelPink: #ff95bb;
$pastelOrange: #ff8c35;
$pastelPurple: #b493d3;

$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeInOutCustom: cubic-bezier(0.5, 0.11, 0.17, 1);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeSmooth: cubic-bezier(0.4, 0.01, 0.165, 0.99);

$z-level-1: 1;
$z-level-2: 2;
$z-level-3: 3;
$z-level-4: 4;
$z-level-header: 5;

$serif: 'Courier New';
$sans-serif: 'Montserrat';
