@import "./functions.scss";

$sm: 375px;
$md: 768px;
$lg: 1024px;
$xlg: 1440px;

// modularscale = base: 16px/1rem, ratio: 1.5

$ms1: between(8px, 16px, $sm, $xlg);
$ms2: between(12px, 24px, $sm, $xlg);
$ms3: between(16px, 36px, $sm, $xlg);
$ms4: between(27px, 54px, $sm, $xlg);
$ms5: between(40px, 81px, $sm, $xlg);
$ms6: between(60px, 121px, $sm, $xlg);

$dark: #454545;
$blue: #00488e;
$red: #ff0036;
$white: #ffffff;
$offWhite: #fbfbfb;
$turquoise: #3ddaca;

$pastelYellow: #ffd800;
$pastelRed: #ff6272;
$pastelGreen: #b8d85e;
$pastelBlue: #7c87f5;
$pastelPink: #ff95bb;
$pastelOrange: #ff8c35;
$pastelPurple: #b493d3;


$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeInOutCustom: cubic-bezier(0.5, 0.11, 0.17, 1);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeSmooth: cubic-bezier(0.4, 0.01, 0.165, 0.99);

$z-level-1: 1;
$z-level-2: 2;
$z-level-3: 3;
$z-level-4: 4;
$z-level-header: 5;