@import "src/utility/reset";
@import "src/utility/variables";

html {
  font-family: $sans-serif, sans-serif;
  font-weight: 500;
  font-size: $base;
  line-height: 1.5;
  box-sizing: border-box;
  color: $dark;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

a {
  font-style: none;
  text-decoration: none;
  color: inherit;
}

.parallax-inner {
  position: relative;
  will-change: transform;
}

@import "./includes/slick-styles";
@import "./includes/slick-theme";
