@import "../../utils/variables";
@import "../../utils/functions";
@import "../../utils/responsive";

.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: between(20px, 45px, $sm, $xlg);
  column-gap: between(20px, 160px, $sm, $xlg);
}
