@import "../../utils/variables";
@import "../../utils/mixins";
@import "../../utils/functions";
@import "../../utils/responsive";

%sectionDecorator {
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    z-index: -1;
    right: $horizontalSpacing;
    background-image: url("../../images/section-dots-decorator.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.root {
  position: relative;
  z-index: 1;
  @include horizontalSpacing();
}

.colored {
  @include gradient();
}

.backgroundText {
  position: absolute;
  font-size: between(80px, 200px, $sm, $xlg);
  text-transform: lowercase;
  top: 0;
  z-index: -1;
  font-weight: 600;
  line-height: 2;
  color: #fbfbfb;

  @include respond-to(md) {
    right: $horizontalSpacing;
  }

  .root.colored & {
    color: #0e4c88;
  }
}

.newsletter {
  @extend %sectionDecorator;
}
