@import "../../utils/responsive";
@import "../../utils/functions";
@import "../../utils/variables";
@import "../../utils/mixins";

.root {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  @include negativeHorizontalSpacing();

  > * + * {
    margin-left: between(20px, 48px, $sm, $xlg);
  }

  @include respond-to(md) {
    overflow: hidden;
  }
}
