@import "../../utils/responsive";
@import "../../utils/functions";
@import "../../utils/variables";
@import "../../utils/mixins";

.root {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  @include negativeHorizontalSpacing();
  > *:first-child {
    margin-left: 16px;
  }
  > *:last-child {
    margin-right: 16px;
  }

  @include respond-to(md) {
    overflow: hidden;
    > *:first-child {
      margin-left: $horizontalSpacing;
    }
    > *:last-child {
      margin-right: $horizontalSpacing;
    }
  }
}
