@import "../../utils/variables";
@import "../../utils/functions";
@import "../../utils/responsive";


.root {
  padding-top: $ms6;
  padding-bottom: $ms2;
  @include respond-to(md) {
      display: flex;
      width: between(200px, 500px, $sm, $xlg);

      &.alternative {
        padding: 0;
      }
    }
}

.inputWrap {
  display: inline-flex;
  position: relative;
  align-items: center;
  background: $white;
  width: 100%;
  padding: 27px;
  
  &::before {
    content: "@";
    font-size: $t3;
    color: $blue;
    z-index: 1;
    padding-right: $ms2;
  }
  
  .alternative & {
    border: 2px solid $blue;
    color: $blue;
  }
  
  @include respond-to(md) {
    padding: $ms2;
  }
}

.input {
  font-size: $t3;
  border: 0;
  background: none;
  font-weight: 500;
  color: #868686;
  width: 100%;
}

.submit {
  background: $blue;
  color: $white;
  border: 0;
  align-items: center;
  padding: $ms1;
  justify-content: center;
  flex: none;
  
  @include respond-to(md) {
    display: flex;
    width: between(40px, 72px, $sm, $xlg);
    margin-left: $ms1;

  }
}

.submitText {
  @include respond-to(md) {
    display: none;
  }
}

.submitArrow {
  width: 20px;
  height: 12px;
}

.fineprint {
  color: rgba($white, 0.75);

  .alternative + & {
    display: none;
  }
}
