@import "../../utils/variables";
@import "../../utils/functions";
@import "../../utils/responsive";

.root {
  @include respond-to(onlySmall) {
    &.inHero {
      display: none;
    }
  }

  @include respond-to(md) {
    display: flex;
    width: between(200px, 500px, $sm, $xlg);
    
    &.inHero {
      padding-top: $ms6;
      padding-bottom: $ms2;
    }
  }
}

.inputWrap {
  display: inline-flex;
  position: relative;
  align-items: center;
  background: $white;
  width: 100%;
  margin-bottom: 20px;
  padding: 27px;
  border: 2px solid $blue;
  color: $blue;

  &::before {
    content: "@";
    font-size: 16px;
    color: $blue;
    font-weight: 600;
    z-index: 1;
    padding-right: $ms2;

    @include respond-to(md) {
      font-size: $t3;
    }
  }

  .inHero & {
    border: none;
  }

  @include respond-to(md) {
    padding: $ms2;
    margin: 0;
  }
}

.input {
  border: 0;
  background: none;
  font-size: 16px;
  font-weight: 500;
  color: #868686;
  width: 100%;
  
  @include respond-to(md) {
    font-size: $t3;
  }
}

.submit {
  background: $blue;
  color: $white;
  border: 0;
  align-items: center;
  justify-content: center;
  flex: none;
  position: relative;
  width: 100%;
  padding: 24px;

  @include respond-to(md) {
    padding: $ms1;
    display: flex;
    width: between(40px, 72px, $sm, $xlg);
    margin-left: $ms1;
  }
}

.submitText {
  @include respond-to(md) {
    display: none;
  }
}

.submitArrow {
  width: 20px;
  height: 12px;

  @include respond-to(onlySmall) {
    position: absolute;
    right: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.fineprint {
  color: rgba($white, 0.75);
  display: none;

  .inHero + & {
    display: block;
  
    @include respond-to(onlySmall) {
      display: none;
    }
  }
}
