@import '../../utils/responsive';
@import '../../utils/variables';

.root {
  display: flex;
  flex-wrap: wrap;

  @include respond-to(md) {
    flex-wrap: nowrap;
  }
}

.text {
  line-height: 2;
  
  @include respond-to(md) {
    flex: 0 1 50%;
    margin-right: $ms4;
  }
}

@keyframes arrow {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(50px);
  }
}

.arrow {
  animation: arrow 2s infinite;
  animation-direction: alternate;
  margin-top: $ms6;
}
