@import '../../utils/responsive';
@import '../../utils/variables';

.root {
  display: flex;
  flex-wrap: wrap;

  @include respond-to(md) {
    flex-wrap: nowrap;
  }
}

.text {
  line-height: 2;
  
  @include respond-to(md) {
    flex: 0 1 50%;
    margin-right: $ms4;
  }
}
