@import '../../utils/mixins';
@import '../../utils/variables';

.root {
  color: $blue;
  display: none;

  &.light {
    color: $white;
  }
  &.dark {
    color: $blue;
  }

  @include respond-to(md) {
    display: flex;
  }
}

.url {
  display: flex;
  align-items: center;
  margin-left: auto;
  text-decoration: none;
  color: inherit;
  padding: 10px 0;
  &:visited {
    color: inherit;
  }

  &:hover {
    svg {
      transform: translateX(10px);
    }
  }
}

.text {
  margin-right: 30px;
}
