@import '../../utils/responsive';

.root {
  @include respond-to(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.heading {
  margin-right: between(20px, 30px, $sm, $xlg);
}

.form {
}
