@import "src/utility/variables";
@import "src/utility/responsive";

.heading {
  max-width: 1000px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  flex-grow: 1;

  width: "100%";
  max-width: 400px;
}

.itemInner {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-shadow: 0 21px 28px 0 rgba(201, 201, 201, 0.5);

  margin: 20px;
  width: 100%;
}

.image {
  width: 100%;
}

.box {
  position: relative;
  background: $white;
  max-width: $md;
  width: 100%;

  .title {
    margin-bottom: $ms3;
    margin: $ms1;
  }
}

.arrow {
  position: absolute;
  right: $ms1;
  bottom: $ms1;
  opacity: 0;
  transform: translateX(-16px);
  transition: opacity 0.25s, transform 0.35s;

  @include respond-to(md) {
    .item:hover & {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @include respond-to(onlySmall) {
    display: none;
  }
}
